<div class="a-input">
    <div class="a-input__wrapper">
        <aui-auto-complete 
            [placeholder]="placeholder"
            remote="true"
            clearInvalid="true"
            value="id"
            label="name"
            [noResultsText]="noDataMessage"
            [ngModel]="value?.name"
            [results]="searchResults"
            (search)="onSearch($event)"
            (select)="onSelect($event)">
            <ng-template let-item="$implicit">
                <span [innerHTML]="formatLabel(item)"></span>
                <span *ngIf="differentiator" class="a-contact-picker__detail">{{item[differentiator]}}</span>
            </ng-template>
        </aui-auto-complete>
    </div>
</div>
