<div class="inner home-page">
    <h2>Contact Picker</h2>
    <h4>Remote Data</h4>

    <p>/api/medewerkers</p>
    <aui-contact-picker
      placeholder="kies een medewerker"
      [(value)]="picker2"
      differentiator="userName"
      url="http://localhost:3000/api/medewerkers">
    </aui-contact-picker>
    <div *ngIf="picker2">Current value: 
      <pre>{{picker2 | json}}</pre>
    </div>

    <br>

    <p>/api/antwerpenaars</p>
    <aui-contact-picker
      placeholder="kies een antwerpenaar"
      [(value)]="picker1"
      differentiator="id"
      url="http://localhost:3000/api/antwerpenaars">
    </aui-contact-picker>
    <div *ngIf="picker1">Current value: 
      <pre>{{picker1 | json}}</pre>
    </div>
</div>
