<div class="u-margin-top u-margin-bottom-lg">
  <label class="a-input__label" for="third-picker">Employee of the month</label>
  <aui-contact-picker
    data-id="third-picker"
    placeholder="Choose an employee"
    [(value)]="picker2"
    differentiator="userName"
    url="http://localhost:3000/api/medewerkers">
  </aui-contact-picker>
  <div class="a-input">
    <small><code>/api/medewerkers</code></small>
  </div>
  <p class="u-margin-top"><strong>Current value:</strong><br>
    <ng-container *ngIf="!picker2">-</ng-container>
  </p>
  <pre class="a-pre a-pre--scrollable" *ngIf="picker2"><code>{{ picker2 | json }}</code></pre>
</div>

<hr>

<div class="u-margin-top-lg">
  <label class="a-input__label" for="fourth-picker">Famous Antwerp citizens</label>
  <aui-contact-picker
    data-id="fourth-picker"
    placeholder="Pick your favourite Antwerp citizen"
    [(value)]="picker1"
    url="http://localhost:3000/api/antwerpenaars">
  </aui-contact-picker>
  <div class="a-input">
    <small><code>/api/antwerpenaars</code></small>
  </div>
  <p class="u-margin-top"><strong>Current value:</strong><br>
    <ng-container *ngIf="!picker1">-</ng-container>
  </p>
  <pre class="a-pre a-pre--scrollable" *ngIf="picker1"><code>{{ picker1 | json }}</code></pre>
</div>
